# コーパスの読み込み
コーパス corpus :: 自然言語で記述あるいは口述され、コンピュータ上に格納されたデータのこと

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import requests

## ファイル読み込みの基礎
txtファイルを作成（`encoding="utf-8"` as default）、`open`で展開（オブジェクトを返す）、`read()`で読み込み（全体を読み込むため２回目の`read()`は空文字列を返す）、`close`で閉じる

In [8]:
txt = [
    """
    こんにちは。
    ファイル読み込み練習中。
    Awesome!
    """
]

In [9]:
np.savetxt("section3_example.txt", txt, fmt="%s")

In [10]:
f = open("section3_example.txt", "r", encoding="utf-8")
f

In [11]:
f.read()

'\n    こんにちは。\n    ファイル読み込み練習中。\n    Awesome!\n    \n'

In [12]:
f.read()

''

In [19]:
f.close()

もし、ファイルのencodingが一致していない場合、`UnicodeDecodeError`を吐く。その場合、`open`でencodingを正しく指定するか、ファイルエンコーディングを使用したいものに変更することで回避できる

In [14]:
np.savetxt("section3_example-euc.txt", txt, fmt="%s", encoding="EUC-JP")

In [17]:
f = open("section3_example-euc.txt", "r", encoding="utf-8")
f.read()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa4 in position 5: invalid start byte

In [18]:
f = open("section3_example-euc.txt", "r", encoding="EUC-JP")
f.read()

'\n    こんにちは。\n    ファイル読み込み練習中。\n    Awesome!\n    \n'

`readline()`を使用することで、一行ずつ読み込むことも可能

In [36]:
f = open("section3_example.txt", "r", encoding="utf-8")
for row_no in range(7):
    line = f.readline()
    print(f"{row_no+1}行目(文字数；{len(line)})： {line}" )
f.close()

1行目(文字数；1)：

2行目(文字数；11)：     こんにちは。

3行目(文字数；17)：     ファイル読み込み練習中。

4行目(文字数；13)：     Awesome!

5行目(文字数；5)：

6行目(文字数；0)：
7行目(文字数；0)：

オブジェクトをforで回すことも可能

In [38]:
f = open("section3_example.txt", "r", encoding="utf-8")
for row_no, line in enumerate(f):
    print(f"{row_no+1}行目(文字数；{len(line)})： {line}" )
f.close()

1行目(文字数；1)：

2行目(文字数；11)：     こんにちは。

3行目(文字数；17)：     ファイル読み込み練習中。

4行目(文字数；13)：     Awesome!

5行目(文字数；5)：

`with`文を使用すれば`close`する手間が省ける

In [39]:
with open("section3_example.txt", "r", encoding="utf-8") as f:
    for row_no, line in enumerate(f):
        print(f"{row_no+1}行目(文字数；{len(line)})： {line}" )

1行目(文字数；1)：

2行目(文字数；11)：     こんにちは。

3行目(文字数；17)：     ファイル読み込み練習中。

4行目(文字数；13)：     Awesome!

5行目(文字数；5)：

`mode="w"`にすることでファイルへの書き込みも可能（`mode="a"`で追加）

In [40]:
with open("section3_contents.txt", "w", encoding="utf-8") as f:
    f.write("Hello write method!")
!cat section3_contents.txt

Hello write method!

## CSV/TSVの読み込み
CSV Comma-Separated Values  
TSV Tab-Separated Values

### csvの取り扱い

In [49]:
pd.DataFrame({"name":["高橋", "佐藤", "田中"], "grade":["B", "C", "A"]}
            ).to_csv("section3_example.csv", sep=",", encoding="utf-8", index=False)

In [50]:
pd.read_csv("section3_example.csv", encoding="utf-8")

  name grade
0   高橋     B
1   佐藤     C
2   田中     A

headerがない場合には、一行目のデータがheaderと見做されてしまうため、headerがない旨を明記する必要

In [54]:
no_header_csv = [
    ["高橋", "B"],
    ["佐藤", "C"],
    ["田中","A"]
]
np.savetxt("section3_example1.csv", no_header_csv, fmt="%s", delimiter=",")

In [55]:
pd.read_csv("section3_example1.csv", encoding="utf-8")

   高橋  B
0  佐藤  C
1  田中  A

In [56]:
pd.read_csv("section3_example1.csv", encoding="utf-8", header=None)

    0  1
0  高橋  B
1  佐藤  C
2  田中  A

カラム名が付いていないと扱いにくいので、何かしらの手法で追加してやったほうが都合がいい（個人的には２をよく使用している;2だとどこを何に変えたかが直感的にわかりやすくエラーを減らせると思っている）

In [57]:
# 1: use names arg
display(pd.read_csv("section3_example1.csv", encoding="utf-8", header=None, names=("name", "grade")))

# 2: use rename method
display(pd.read_csv("section3_example1.csv", encoding="utf-8", header=None).rename(columns={0:"name", 1:"grade"}))

  name grade
0   高橋     B
1   佐藤     C
2   田中     A

  name grade
0   高橋     B
1   佐藤     C
2   田中     A

### tsvの取り扱い
`read_csv`で`sep="\t"`にするか、`read_table`を使用することで対応可能

In [58]:
pd.DataFrame({"name":["高橋", "佐藤", "田中"], "grade":["B", "C", "A"]}
            ).to_csv("section3_example.tsv", sep="\t", encoding="utf-8", index=False)

In [60]:
pd.read_csv("section3_example.tsv", encoding="utf-8")

  name\tgrade
0       高橋\tB
1       佐藤\tC
2       田中\tA

In [61]:
pd.read_csv("section3_example.tsv", encoding="utf-8", sep="\t")

  name grade
0   高橋     B
1   佐藤     C
2   田中     A

In [62]:
pd.read_table("section3_example.tsv", encoding="utf-8")

  name grade
0   高橋     B
1   佐藤     C
2   田中     A

## JSONの読み込み

In [68]:
json_exm = """[
    {
        "name": "高橋",
        "grade": "B"
    },
    {
        "name": "佐藤",
        "grade": "C"
    },
    {
        "name": "田中",
        "grade": "A"
    }
]"""
with open("section3_example.json", "w", encoding="utf-8") as f:
    f.write(json_exm)

In [69]:
pd.read_json("section3_example.json", encoding="utf-8")

  name grade
0   高橋     B
1   佐藤     C
2   田中     A

In [71]:
json_exml = """
    {"name": "高橋","grade": "B"}
    {"name": "佐藤","grade": "C"}
    {"name": "田中","grade": "A"}
"""
with open("section3_example.jsonl", "w", encoding="utf-8") as f:
    f.write(json_exml)

In [78]:
try:
    pd.read_json("section3_example.jsonl", encoding="utf-8")
except ValueError as ve:
    print("got ValueError: ", ve)
    display(pd.read_json("section3_example.jsonl", encoding="utf-8", lines=True))

got ValueError:  Trailing data

  name grade
0   高橋     B
1   佐藤     C
2   田中     A

## ディレクトリの走査

In [80]:
!mkdir sec3_dir1
!touch sec3_dir1/example1.txt sec3_dir1/example2.txt sec3_dir1/example3.txt
!mkdir sec3_dir1/sec3_dir2
!touch sec3_dir1/sec3_dir2/example4.txt sec3_dir1/sec3_dir2/example5.txt

mkdir: cannot create directory ‘sec3_dir1’: File exists

In [81]:
p = Path("sec3_dir1")
p

PosixPath('sec3_dir1')

In [82]:
list(p.glob('*'))

[PosixPath('sec3_dir1/example1.txt'),
 PosixPath('sec3_dir1/example2.txt'),
 PosixPath('sec3_dir1/example3.txt'),
 PosixPath('sec3_dir1/sec3_dir2')]

In [83]:
list(p.glob('*.txt'))

[PosixPath('sec3_dir1/example1.txt'),
 PosixPath('sec3_dir1/example2.txt'),
 PosixPath('sec3_dir1/example3.txt')]

In [84]:
list(p.glob('**/*.txt'))

[PosixPath('sec3_dir1/example1.txt'),
 PosixPath('sec3_dir1/example2.txt'),
 PosixPath('sec3_dir1/example3.txt'),
 PosixPath('sec3_dir1/sec3_dir2/example4.txt'),
 PosixPath('sec3_dir1/sec3_dir2/example5.txt')]

# コーパスの作成

In [13]:
key_dict = pd.read_json("../gnavi_keys.json", encoding="utf-8")
key_dict

                            api_key                        access_key
0  0c41b644a28dd78fae56c772936feece  0c41b644a28dd78fae56c772936feece

In [14]:
url = "https://api.gnavi.co.jp/PhotoSearchAPI/v3/"
params = {"keyid": key_dict["api_key"], "menu_name":"ラーメン"}
response = requests.get(url, params=params)
response.json()

{'response': {'@attributes': {'api_version': 'v3'},
  'total_hit_count': 5006,
  'hit_per_page': 15,
  '0': {'photo': {'vote_id': '79812',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'ＦＲＢ',
    'shop_id': '7377127',
    'shop_name': '一蘭町田店',
    'shop_url': 'https://r.gnavi.co.jp/34n4jgkb0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF13:東京都',
    'menu_id': 78256,
    'menu_name': 'ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '町田・多摩',
    'areaname_m': '町田',
    'areaname_s': '町田',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/e6/41/79812_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/e6/41/79812.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/e6/41/79812_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/e6/41/79812_s.jpeg'},
    'comment': '超こってりラーメンががうまい。なんか特許があるらしい。',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.543834',
    'longitude': '139.447537',
    'umaso_count': 1,
    'update_date': '2010-11-03T16:08:20+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '1': {'photo': {'vote_id': '80084',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'さとうさとうさとう',
    'shop_id': '7210323',
    'shop_name': 'やまちゃん 銀座店',
    'shop_url': 'https://r.gnavi.co.jp/47wpewwc0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF13:東京都',
    'menu_id': 78444,
    'menu_name': '長浜ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '銀座・有楽町・築地',
    'areaname_m': '銀座',
    'areaname_s': '銀座（三越・松屋方面）',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/0a/1e/80084_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/0a/1e/80084.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/0a/1e/80084_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/0a/1e/80084_s.jpeg'},
    'comment': 'スープが絶妙。',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '',
    'longitude': '',
    'umaso_count': 0,
    'update_date': '2010-11-12T15:35:51+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '2': {'photo': {'vote_id': '80098',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'ぐるなび会員',
    'shop_id': '5497391',
    'shop_name': 'めん屋 亀久',
    'shop_url': 'https://r.gnavi.co.jp/ge0nx9470000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF13:東京都',
    'menu_id': 78459,
    'menu_name': 'とんこつラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '錦糸町・押上・新小岩',
    'areaname_m': '亀戸',
    'areaname_s': '亀戸',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/b7/76/80098_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/b7/76/80098.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/b7/76/80098_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/b7/76/80098_s.jpeg'},
    'comment': 'もやし多目でヘルシーです。',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.697077',
    'longitude': '139.842890',
    'umaso_count': 0,
    'update_date': '2010-11-14T19:06:54+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '3': {'photo': {'vote_id': '80657',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'ぐるなび会員',
    'shop_id': '6346573',
    'shop_name': '麺屋武蔵 武骨 御徒町店',
    'shop_url': 'https://r.gnavi.co.jp/j5h3431w0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF13:東京都',
    'menu_id': 3826,
    'menu_name': 'ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '上野・浅草・日暮里',
    'areaname_m': '上野',
    'areaname_s': '上野',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/87/12/80657_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/87/12/80657.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/87/12/80657_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/87/12/80657_s.jpeg'},
    'comment': 'ラーメン（赤）。麺が太くて、それだけでお腹が満たされてしまいますが、若い人には良いのかもしれません。スープも凝っていてとても美味しいです。',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.709010',
    'longitude': '139.775934',
    'umaso_count': 0,
    'update_date': '2010-11-22T22:19:52+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '4': {'photo': {'vote_id': '80997',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'amatouha',
    'shop_id': '5496790',
    'shop_name': 'せたが屋 品川店',
    'shop_url': 'https://r.gnavi.co.jp/g2wpd5a90000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF13:東京都',
    'menu_id': 79237,
    'menu_name': 'ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '品川・五反田・大崎',
    'areaname_m': '品川',
    'areaname_s': '品川（アトレ品川・インターシティ方面）',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/29/c6/80997_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/29/c6/80997.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/29/c6/80997_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/29/c6/80997_s.jpeg'},
    'comment': 'さっぱりしていそうに見えるけれど、そうでもなく、油がこってりして食べ応えがあります。生たまねぎをいれることで脂分が気にならなくなります。',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.626771',
    'longitude': '139.738007',
    'umaso_count': 0,
    'update_date': '2010-11-27T22:45:12+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '5': {'photo': {'vote_id': '81001',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'amatouha',
    'shop_id': '6346573',
    'shop_name': '麺屋武蔵 武骨 御徒町店',
    'shop_url': 'https://r.gnavi.co.jp/j5h3431w0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF13:東京都',
    'menu_id': 79241,
    'menu_name': '黒\u3000ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '上野・浅草・日暮里',
    'areaname_m': '上野',
    'areaname_s': '上野',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/87/12/81001_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/87/12/81001.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/87/12/81001_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/87/12/81001_s.jpeg'},
    'comment': '麺がとても太くて、満腹になります。食べ応えがありました。おいしい！',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.709010',
    'longitude': '139.775934',
    'umaso_count': 0,
    'update_date': '2010-11-27T23:03:18+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '6': {'photo': {'vote_id': '85464',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'ぐるなび会員',
    'shop_id': '5500887',
    'shop_name': '梅家 舎弟',
    'shop_url': 'https://r.gnavi.co.jp/9c7tjrmv0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF14:神奈川県',
    'menu_id': 82949,
    'menu_name': 'ネギラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '本厚木・海老名',
    'areaname_m': '本厚木・厚木',
    'areaname_s': '本厚木・厚木',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/85464_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/85464.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/85464_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/85464_s.jpeg'},
    'comment': '豚骨の香りが強い家系ラーメン。ネギは風邪にも効きます★',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.462226',
    'longitude': '139.357107',
    'umaso_count': 0,
    'update_date': '2010-12-18T13:04:10+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '7': {'photo': {'vote_id': '85474',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'ぐるなび会員',
    'shop_id': '6545158',
    'shop_name': 'ラーメン大桜',
    'shop_url': 'https://r.gnavi.co.jp/847rvyyv0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF14:神奈川県',
    'menu_id': 82955,
    'menu_name': 'のりたまラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '大和・中央林間・二俣川',
    'areaname_m': '中央林間・鶴間',
    'areaname_s': '中央林間・鶴間',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/43/d8/85474_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/43/d8/85474.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/43/d8/85474_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/43/d8/85474_s.jpeg'},
    'comment': 'こってりまろやかな豚骨醤油スープは寒い季節におすすめ★',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.510321',
    'longitude': '139.460774',
    'umaso_count': 0,
    'update_date': '2010-12-18T13:22:33+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '8': {'photo': {'vote_id': '87133',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': '杏樹☆',
    'shop_id': '7377098',
    'shop_name': '一蘭横浜桜木町店',
    'shop_url': 'https://r.gnavi.co.jp/cvfwxfn00000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF14:神奈川県',
    'menu_id': 14237,
    'menu_name': 'ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': 'みなとみらい・関内・中華街',
    'areaname_m': '桜木町',
    'areaname_s': '桜木町',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/5d/3f/87133_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/5d/3f/87133.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/5d/3f/87133_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/5d/3f/87133_s.jpeg'},
    'comment': '替え玉するのが当たり前^^;',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.449482',
    'longitude': '139.630573',
    'umaso_count': 0,
    'update_date': '2010-12-19T23:37:21+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '9': {'photo': {'vote_id': '87202',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'ぐるなび会員',
    'shop_id': '5838196',
    'shop_name': 'ハッスルラーメンホンマ 錦糸町店',
    'shop_url': 'https://r.gnavi.co.jp/mp84mnx40000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF13:東京都',
    'menu_id': 55416,
    'menu_name': 'ハッスルラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '錦糸町・押上・新小岩',
    'areaname_m': '錦糸町・住吉',
    'areaname_s': '錦糸町',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/c2/68/87202_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/c2/68/87202.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/c2/68/87202_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/c2/68/87202_s.jpeg'},
    'comment': '見た目よりあっさりとしていて食べやすいです。',
    'total_score': '3.0',
    'category': 'ラーメン店',
    'latitude': '35.695661',
    'longitude': '139.812392',
    'umaso_count': 0,
    'update_date': '2010-12-20T09:00:26+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '10': {'photo': {'vote_id': '87925',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'hirromi',
    'shop_id': '5500067',
    'shop_name': '壱八家 東戸塚本店',
    'shop_url': 'https://r.gnavi.co.jp/6hrs5jpz0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF14:神奈川県',
    'menu_id': 84867,
    'menu_name': 'ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '戸塚・東戸塚',
    'areaname_m': '戸塚・東戸塚',
    'areaname_s': '戸塚・東戸塚',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/d0/27/87925_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/d0/27/87925.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/d0/27/87925_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/d0/27/87925_s.jpeg'},
    'comment': '横浜家系ラーメン。めちゃめちゃこってりなんだけど、無性に食べたくなっちゃうんだよなぁ・・・。',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.428238',
    'longitude': '139.557364',
    'umaso_count': 0,
    'update_date': '2010-12-21T10:30:57+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '11': {'photo': {'vote_id': '88515',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'so-pink',
    'shop_id': '5500887',
    'shop_name': '梅家 舎弟',
    'shop_url': 'https://r.gnavi.co.jp/9c7tjrmv0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF14:神奈川県',
    'menu_id': 82941,
    'menu_name': 'ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '本厚木・海老名',
    'areaname_m': '本厚木・厚木',
    'areaname_s': '本厚木・厚木',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/88515_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/88515.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/88515_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/88515_s.jpeg'},
    'comment': 'インパクトの強い豚骨醤油のスープはハマります！',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.462226',
    'longitude': '139.357107',
    'umaso_count': 0,
    'update_date': '2010-12-22T00:37:52+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '12': {'photo': {'vote_id': '88609',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'ぐるなび会員',
    'shop_id': '5497323',
    'shop_name': 'ラーメンヨシベー 錦糸町店',
    'shop_url': 'https://r.gnavi.co.jp/3wfy4xyr0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF13:東京都',
    'menu_id': 85397,
    'menu_name': 'ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '錦糸町・押上・新小岩',
    'areaname_m': '錦糸町・住吉',
    'areaname_s': '錦糸町',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/25/f1/88609_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/25/f1/88609.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/25/f1/88609_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/25/f1/88609_s.jpeg'},
    'comment': '大蒜が効いています。麺が太くて食べ応えがあります。',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.695679',
    'longitude': '139.812320',
    'umaso_count': 0,
    'update_date': '2010-12-22T08:48:26+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '13': {'photo': {'vote_id': '88219',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'ぐるなび会員',
    'shop_id': '7210322',
    'shop_name': '蜂屋ラーメン 本店',
    'shop_url': 'https://r.gnavi.co.jp/2td4zayn0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF01:北海道',
    'menu_id': 85112,
    'menu_name': 'ラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '旭川・富良野・名寄',
    'areaname_m': '旭川',
    'areaname_s': '旭川',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/72/53/88219_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/72/53/88219.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/72/53/88219_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/72/53/88219_s.jpeg'},
    'comment': '表面の焦がしラードが特徴。こってりと美味しい。',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '43.764558',
    'longitude': '142.372219',
    'umaso_count': 0,
    'update_date': '2010-12-22T10:13:05+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}},
  '14': {'photo': {'vote_id': '88659',
    'photo_genre_id': '1',
    'photo_genre_name': '料理・ドリンク',
    'photo_scene_id': '',
    'photo_scene_name': '',
    'nickname': 'P_ein_kumi',
    'shop_id': '5500887',
    'shop_name': '梅家 舎弟',
    'shop_url': 'https://r.gnavi.co.jp/9c7tjrmv0000/?ak=iijEWPZ0uuZKZQQpvJPoJ3ZdDa50nhWZBtGB55KwqaU%3D',
    'prefname': 'PREF14:神奈川県',
    'menu_id': 82949,
    'menu_name': 'ネギラーメン',
    'menu_finish_flag': 0,
    'areaname_l': '本厚木・海老名',
    'areaname_m': '本厚木・厚木',
    'areaname_s': '本厚木・厚木',
    'image_url': {'url_1024': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/88659_l.jpeg',
     'url_320': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/88659.jpeg',
     'url_250': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/88659_m.jpeg',
     'url_200': 'https://mr.gnavi.co.jp/cont/menu_image/cc/a3/88659_s.jpeg'},
    'comment': '香りがいい！インパクトのある豚骨醤油です！',
    'total_score': '3.0',
    'category': 'ラーメン',
    'latitude': '35.462226',
    'longitude': '139.357107',
    'umaso_count': 0,
    'update_date': '2010-12-22T10:59:36+09:00',
    'messages': {'user_message_count': 0,
     'shop_message_count': 0,
     'first_shop_message': {'message_body': '', 'send_date': ''}}}}}}

`corpus_maker.py`をscriptとして作成する  
`src/scripts/chapter03/data/raw_data.json`, `src/scripts/chapter03/data/dataset.jsonl`を作成

In [4]:
rawdata_path = "../scripts/chapter03/data/raw_data.json"
dataset_path = "../scripts/chapter03/data/dataset.jsonl"

クローリングした結果

In [6]:
pd.read_json(rawdata_path, encoding="utf-8")

                                                          response
0                {'photo': {'vote_id': '77995', 'photo_genre_id...
1                {'photo': {'vote_id': '77804', 'photo_genre_id...
10               {'photo': {'vote_id': '87602', 'photo_genre_id...
11               {'photo': {'vote_id': '88712', 'photo_genre_id...
12               {'photo': {'vote_id': '89852', 'photo_genre_id...
13               {'photo': {'vote_id': '89853', 'photo_genre_id...
14               {'photo': {'vote_id': '90839', 'photo_genre_id...
15               {'photo': {'vote_id': '91009', 'photo_genre_id...
16               {'photo': {'vote_id': '91012', 'photo_genre_id...
17               {'photo': {'vote_id': '91600', 'photo_genre_id...
18               {'photo': {'vote_id': '92580', 'photo_genre_id...
19               {'photo': {'vote_id': '92586', 'photo_genre_id...
2                {'photo': {'vote_id': '79821', 'photo_genre_id...
20               {'photo': {'vote_id': '93144', 'photo_genre_id...
21               {'photo': {'vote_id': '93151', 'photo_genre_id...
22               {'photo': {'vote_id': '94497', 'photo_genre_id...
23               {'photo': {'vote_id': '94548', 'photo_genre_id...
24               {'photo': {'vote_id': '90849', 'photo_genre_id...
25               {'photo': {'vote_id': '95667', 'photo_genre_id...
26               {'photo': {'vote_id': '95711', 'photo_genre_id...
27               {'photo': {'vote_id': '95839', 'photo_genre_id...
28               {'photo': {'vote_id': '95848', 'photo_genre_id...
29               {'photo': {'vote_id': '99003', 'photo_genre_id...
3                {'photo': {'vote_id': '80019', 'photo_genre_id...
30               {'photo': {'vote_id': '100107', 'photo_genre_i...
31               {'photo': {'vote_id': '102734', 'photo_genre_i...
32               {'photo': {'vote_id': '102759', 'photo_genre_i...
33               {'photo': {'vote_id': '105301', 'photo_genre_i...
34               {'photo': {'vote_id': '107595', 'photo_genre_i...
35               {'photo': {'vote_id': '108333', 'photo_genre_i...
36               {'photo': {'vote_id': '109516', 'photo_genre_i...
37               {'photo': {'vote_id': '110136', 'photo_genre_i...
38               {'photo': {'vote_id': '110140', 'photo_genre_i...
39               {'photo': {'vote_id': '111071', 'photo_genre_i...
4                {'photo': {'vote_id': '80020', 'photo_genre_id...
40               {'photo': {'vote_id': '111348', 'photo_genre_i...
41               {'photo': {'vote_id': '114212', 'photo_genre_i...
42               {'photo': {'vote_id': '114223', 'photo_genre_i...
43               {'photo': {'vote_id': '29537', 'photo_genre_id...
44               {'photo': {'vote_id': '113524', 'photo_genre_i...
45               {'photo': {'vote_id': '65446', 'photo_genre_id...
46               {'photo': {'vote_id': '113537', 'photo_genre_i...
47               {'photo': {'vote_id': '117788', 'photo_genre_i...
48               {'photo': {'vote_id': '118859', 'photo_genre_i...
49               {'photo': {'vote_id': '123497', 'photo_genre_i...
5                {'photo': {'vote_id': '80670', 'photo_genre_id...
6                {'photo': {'vote_id': '81012', 'photo_genre_id...
7                {'photo': {'vote_id': '81518', 'photo_genre_id...
8                {'photo': {'vote_id': '81519', 'photo_genre_id...
9                {'photo': {'vote_id': '87600', 'photo_genre_id...
@attributes                                  {'api_version': 'v3'}
hit_per_page                                                    50
total_hit_count                                               9331

スクレイピングした結果

In [8]:
pd.read_json(dataset_path, encoding="utf-8", lines=True)

                                              comment  score
0   シチューで煮込んだロールキャベツ。大きい肉がたっぷりのキャベツにくるまれて、シチューも洋食屋...      3
1   ドライカレーのランチ！オードブル、コーヒー、冷製スープがついて、セットで1,200円です。\...      3
2                              濃厚です！ボリューミーです！！美味です！！！      3
3     極上！！めちゃウマなのに安い！！店員さんもよく気がついてくれます。新宿三丁目店お気に入りです。      3
4    もつ鍋というものをはじめて食べたお店です。後味がさっぱりしていて、くどくなくて美味しかったです。      3
5                 レバ刺しをはじめて食べたお店です☆ジューシーでくさみがなくておいしい！      3
6                                           ふかひれがぎっしり      3
7                                           野菜がしゃきしゃき      3
8   以前はグランドメニューに無かった裏メニューだと勝手に思っていたが、先日来店したらグランドメニ...      3
9           東京で食べられるイカでは最高峰だと思います。新鮮。量もがっつりあります。おすすめ。      3
10            のどぐろ祭りで、食す。\r\n地元では高級食材です。小ぶりでしたが、おいしー。      3
11                        ガーリックトーストによくあうし、半熟卵がさらにＧＯＯＤ      3
12                                      色とりどりの野菜が美しい。      3
13  岩中豚１００％のハンバーグ\r\nトッピングやソースがいっぱいあり、粒マスタードソースなどお...      3
14  ギラギラした歌舞伎町のネオンの中で親父率95%の狭くて汚い店内でただひたすら焼き鳥を喰らう。...      3
15  安い、ガッツり、こってり、しょっぱ辛い。ちょっとシメにラーメンと思って食べると大後悔しますよ...      3
16                      ワッフル地がサクサクでバニラアイスと生クリームがたっぷり。      3
17  桂花と言えばとろとろの角煮とシャキシャキキャベツの『太肉麺』なのですが、1000円近い値段は...      3
18  ソースではなくしょっぱく味付けされたキャベツでいただく風変わりなとんかつ。シメはお茶をかけて...      3
19                       こんな味わいはじめて。\r\nワインがごくごく進みます。      3
20                    まわりはカリカリ、中はトローリ。\r\n豚肉？ね！これ豚肉！？      3
21  サラっサラのルーをひと口。懐かしい、、、小学校のカレーを思い出す。口に含む瞬間、スッとスパイ...      3
22  とんかつに喰らいつく。むんふふふ・・・今まで食べた衣の中で一番ぶ厚い。歯を伝わって、頭蓋骨に...      3
23                        マスタードソースと一緒に食べるとより一層おいしいです。      3
24                                 ハイチのビーフシチュー。コクがある。      3
25                         バインセオのハーフ。中の野菜がシャキシャキして旨い。      3
26  うな重だけど、丼ぶりで出てきます。\r\n焼き方が関西風で、一度蒸さずに、生のまま直接焼いて...      3
27  餃子や水餃子などが３つで１０５円ととてもリーズナブルで活気にあふれてる店内。\r\n大人数で...      3
28                アツアツで濃厚な蟹味噌をフーフーしながらハフハフ食べる。やみつきです。      3
29                                    一品一品美味しくて素晴らしい。      3
30  女５人で今が旬のぶりしゃぶコースを頼みました。初めてぶりしゃぶ食べましたが本当にとろける♪び...      3
31                                             鮮度バツグン      3
32  ￥3000とちょっと高めですが、とろけるようなお寿司が食べれました。\r\nどれもシャリは少...      3
33  ひつじの「生」をいただける貴重なお店です！とにかくおいしいし、すごくヘルシー。いつも来店する...      3
34                  手軽に天丼が食べられるお店。オプションで海老を５本くらいのせたい。      3
35                          すべてが合格点以上の味。もっとリーズナブルなら最高      3
36                                             厚みが抜群！      3
37                                     毎日する、とろろは甘みが最高      3
38  パンでも美味しいですが、サラダも最高です。\r\nドレッシングはわさびしょうゆで。\r\nト...      3
39            チーズがとろける！生地がもちもちしている！\r\nシンプルで美味しいピザです。      3
40  ボリューム満点で、お肉も柔らかくタレも美味しい。\r\nにんにく風味が効いていて、ビールにぴ...      3
41  アボカドやぷりぷりの海老がたくさん入り、美味しい岩ノリのドレッシングがたっぷりかかり、ボリュ...      3
42           ここのうどんはどれもおいしいが、海老クリームのおうどんはこれまた格別においしい。      3
43                                          厚揚げがジュワ～！      3
44      肉厚なしいたけの傘に出汁をはって旨味を閉じ込めた人気商品！ご来店の際は絶対に食べるべし！！      3
45                       石釜で焼いたピザが美味しい！おしゃれな店内もいいですよ。      3
46  キャラメルソースを、プレーン/オレンジ/ジンジャーから選ぶことができます。アイスを絡めながら...      3
47  色々挟んで食べられるのはたまらない！\r\n他のメニューも美味しいけど、これを頼めばお野菜も...      3
48                                      寒い日の定番です。美味しい      3